<!DOCTYPE html>
<html>
<body>

<h2>Titanic-Survival Prediction Model </h2>

<form action="/click/" method='post'>
  <label for="Pclass">Pclass:</label><br>
  <input type="text" id="Pclass" name="Pclass" value="0"><br>
  <label for="Sex">Sex:</label><br>
  <input type="text" id="Sex" name="Sex" value="0"><br><br>
  <label for="Age ">Age:</label><br>
  <input type="text" id="Age" name="Age" value="0"><br><br>
  <label for="SibSp">SibSp:</label><br>
  <input type="text" id="SibSp" name="SibSp" value="0"><br><br>
  <label for="Parch ">Parch:</label><br>
  <input type="text" id="Parch" name="Parch" value="0"><br><br>
  <label for="Fare ">Fare:</label><br>
  <input type="text" id="Fare" name="Fare" value="0"><br><br>
  <label for="Embarked ">Embarked:</label><br>
  <input type="text" id="Embarked" name="Embarked" value="0"><br><br>
  
  <button>PREDICT</button>
</form> 

</body>
</html>